
.carousel-container{
    overflow:hidden;
    width: 80%;
    max-width: 1000px;
    margin:10px auto;
    position: relative;
}
.carousel-image-wrapper{
    width: 100%;
    display: flex;
    position: relative;
    
}

img{
    width:100%; 
}

.rbtn{
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    right:1em;
    top:50%;
    transform: translateY(-50%);
    height: 100%;
    width:20px;
    cursor: pointer;
    background: url("../img/right.png") no-repeat ;
    background-size: 100% auto;
    background-position: center;
}

.lbtn{
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    left:1em;
    top:50%;
    transform: translateY(-50%);
    height: 100%;
    width:20px;
    cursor: pointer;
    background: url("../img/left.png") no-repeat ;
    background-size: 100% auto;
    background-position: center;
}

.dots{
    position: absolute;
    z-index: 4;
    bottom:20px;
    width: fit-content;
    left:50%;
    transform: translateX(-50%);
}

.dot{
    display: inline-block;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
    border:1px solid red;
    margin:0 10px;
    cursor: pointer;
}

.active-dot{
    background-color: white;
}