.search-area{
	float: left;
	background: url(images/searchbox.png) no-repeat;
	width: 280px;
    height: 25px;
}

.search-area input{
	width: 220px; 
	font-size: 11px;
	background-color: transparent; 
	padding: 3px 8px;
	border: 0 solid; 
}

.search-area .searchicon {
	height: 11px;
    width: 11px;
    margin-left:10px;
}

.search-area input:focus{
	outline: none;
}

.search-button a{
    
	display: block;
	color: #fff;
	font-size: 10px;
	padding:  3px 5px 5px 8px;
}
.navigation ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.navigation ul li{
	width: auto;
	float: left;
	padding: 0px 5px;
}
.navigation ul li a{
	font-size: 13px;
}
.navigation ul li+li{
	background: url("images/pipe.png") 0 50% no-repeat;
}
.usernav ul .last{
	padding-left: 5px;
}
.options ul{
	list-style: none;
	margin:0;
	padding: 0px;
}
.options ul li{
	float: left;
	margin: auto;
	padding: 0px 15px;
}
.options ul li:hover{
	background-color: White;
}
.options ul li a{
	font-size: 13px;
}
.notification ul{
	list-style: none;
	margin: 0px;
}
.notification ul li{
	float: left;
	width: auto;
	color: #aaa;
    font-size: 12px;
}
.notification ul li:active{
	color:#000;
}
.notification ul li:first-child{
	background-image: url("images/topbox.png")  ;
	background-repeat: no-repeat;
	padding-left: 18px;
	margin: 0 31px;
}
.notification .lastchild{
	background-image: url("images/frequest.png");
	background-repeat: no-repeat;
	padding-left: 25px;
}
.notification ul li.enabled{
	color:#000;
}

.custom-list ul{
	list-style: none;
	font-size: 11px;
}
.custom-list ul li{
	padding: 0px 2px;
    width: 100%;
    display: table;
}

.custom-list ul li:hover{
	background-color: #fff;
}


.recent-search ul li a:first-child{
    float: left;
	width: 70%;
	padding: 10px 8px;
}
.recent-search ul li img{
	float: right;
	padding: 10px;
}



.main-heading{
	font-size: 26px;
	line-height: 0px;
	margin-bottom: 12px;
	padding:10px 0px 9px 0px;
}
.tabs ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.tabs ul li{
	width: 110px;
	float: left;
	margin: 0px 5px;
	padding: 0px 2px;
	background-image: url("images/inactive-tab.png");
	background-repeat: no-repeat;
	font-size: 11px;
}
.tabs ul .active{
	background-image: url("images/active-tab.png");
	background-repeat: no-repeat;
	font-size: 11px;
}
.tabs ul li a{
	display: block;
	text-align: center;
}
.tabs ul .active a{
   
	color: #fff;
	display: block;
}
.tabs ul li a{
	line-height: 28px;
}
.tabs ul li:hover{
	background-image: url("images/active-tab.png");
	background-repeat: no-repeat;
	color: #fff;
	font-size: 11px;
}
.tabs ul li:hover a{
	color: #fff;
}
.headline-topic h2{
	font-size: 15px;
	line-height: 24px;
	font-weight: bold;
    margin:0;
}
.headline-topic ul{
	list-style: none;
	font-size: 13px;
	line-height: 20px;
	display: table;
}
.headline-topic ul li{
	float: left;
	padding: 0px 5px;
}
.headline-topic ul li:first-child{
	padding-right: 5px;
}

.headline-topic ul li a{
	color:#30a0b6;
}

.headline-topic .subscribedcolor{
    color: #709620;
    padding-left: 5px;
}
.headline-topic p{
	font-size: 13px;
	line-height: 20px;
}
.headline-topic p a{
	color:#30a0b6;
}
.entry{
	color:#30a0b6;
	line-height: 11px;
	font-size: 11px;
	font-weight: bold;
}
.comment{
	color:#30a0b6;
	font-size: 11px;
	line-height: 11px;
	font-weight: bold;
}
.hot-topic{
	font-size: 11px;
	line-height: 11px;
	color:#d63e1c;
}
.videolist ul li{
	width: 87%;
	padding: 10px 7%;
}
.videolist ul li a{
	display: block;
}
