 *{
     margin:0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color:#fff;
 }
 button{
     color:#0f103f;
 }

 /* Utility */
 .flex{
     display: flex;
 }
.btn{
    color:#0f103f;
    background-color: #fff;
    border-radius: 2px;
    padding: .5em;
    font-size: 1vw;
    margin:5px;
}

.w1{
    width: 100%;
}

.tc{
    text-align: center;
}

.none{
    display: none;
}

.block{
    display: block;
}

/* Styles */

.arcade-custom{
     font-size: 3vw;
     align-items: center;
}

.active-mode{
    background-color: #ffee00;
    box-shadow: 0 0 .8em #fff;
    font-size: 2vw;
}

.level{
    width:90%;
}
.level:active{
    background-color: #ffee00;
}
body{
     background:20px 20px, url('../img/background.png')  ;
     background-size: 174px 140px;
     /* background-size: auto 100vh; */
}
    
.button-controllers{
    /* display: flex; */
    margin-top: 10px;
}

.custom-level{
    width: 80%;
    display: block;
    margin: 10px auto;
    font-size: 1vw;
    padding: 5px;
}

.container{
    width:800px;
    height: 500px;
    margin: 0 auto;    
    padding: 10px 0;
    position: relative;
}

#gameCanvas{ 
    background:20px 20px, url('../img/background.png')  ;
    background-size: 174px 140px;
    /* background-size: contain 60px;  */
    /* background-repeat: no-repeat; */
    border: 10px solid  transparent;
    border-image: url('../img/wall.jpg') 40 round;

}
#powerCanvas{ 
    /* background:rgba(154, 167, 155, 0.89); */
    border: 1px solid rgb(0, 17, 255);
    border: 10px solid  transparent;
    border-image: url('../img/wall.jpg') 40 round;
}
.power-container{
    width:800px;
    height: 100px;
    margin: 30px auto 0;
}

#game-over, #you-won{
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: rgb(0, 255, 128);
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: none;
}


.title {
    background-color: rgb(101, 116, 126);
    text-align: center;
    color: #ffee00;
    font-size: 50px;
       border-radius: 20px 20px 0 0 ;
    padding: 20px;
}

.score{
    background-color: rgb(101, 116, 126);
    text-align: center;
    font-size: 56px;
    color: rgb(0, 247, 255);
    margin-top: 20px;
    padding:20px;
}
.retry {
    position: relative;
    margin-top: 30px;
    height: 50px;
    
}
.retry>div{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 100px;
    text-align: center;
    color:#ffee00;
    margin:0 auto;
    background-color: rgb(44, 63, 114);
}

.retry>div:active{
    box-shadow: rgb(44, 63, 114) 0 0 20px;
    width: 70px;
    height: 70px;
    line-height: 90px;
    background-color: #0f103f;
}

.sidebar{
    position: absolute;
    width: calc((100% - 840px)/2);
    top:10px;
    background-color: #0f103f;
    height: 640px;
    font-size: 2vw;
}
.score-board{
    right:0;
    
}
.score-box{
    display: flex;
    align-items: center;
    padding: 20px 0 30px 30px;
    border-bottom: 2px solid #ffee00;
}

.score-box img{
    width: 1.5em;
    margin-right:15px ;
}
.score-heading{
    /* height: 20px; */
    color:aqua;
    font-size:1.5em;
    text-align: center;
    padding:10px 2px;
    border-bottom:2px solid #ffee00 ;
}

.you-scored{
    margin-top: 10px;
    color:aqua;
    font-size: 2.5vw;
    text-align: center;
    background-color: #0f103f;
}
#score-value{
    font-size: 2em;
    color: #ffee00;
    padding-left: 10px;
    text-align: center;

}
.score-container{
    background-color: black;
    margin-top:10px;
    height: 100px;
}

.final-score::before, .final-score::after{
    content: '';
    display: block;
    clear:both;
}
.final-score div{
    float: left;
    width: 33.33%;
    padding-top: 18px;
    
}
.final-score div:first-child{
    text-align: left;
    padding-left: 25px;
}
.final-score div:last-child{
    text-align: right;
    padding-right: 25px;
}
#win-score{
    color:#ffee00;
    font-size: 55px;
    text-align: center;
}

.noclick{
    user-select: none;
}

.buttons{
    display: flex;
    justify-content: center;
}

.buttons button{
    width: 100%;
    height: 40px;
    margin:10px;
    border-radius: 10px;
    font-size: 25px;
    background-color: rgb(47, 107, 19);
    color: #fff;
    

}
.left-panel{
    left:10px;
}
.remaining-life-container{
    display: flex;
    height: 50px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    margin-top: 20px;
}
.text{
    color:white;
    width: 100%;
    padding-left: 10px;
    padding-top: 12px;
    border-right: 2px solid #fff;
    font-size: .5em;
}
#life-indicators{
    /* margin: 0 auto; */
    /* font-size: .5em; */
    width: 100%;
    padding-left:10px;
    padding-top:10px;

}
.life{
    width:30px; 
    overflow: hidden;
    display: inline-block;
}

.life img{
    clip-path: inset(0 0 90px 67px); position: relative; right:67px;
}

.high-score{
    border-bottom:none;
    border-top: 12px solid #ffee00;
    border-radius: 10px 20px 0 0;
    margin-top: 30px;
}

#highest-score{
    text-align: center;
    color: rgb(27, 255, 114);
    border-bottom: 12px solid #ffee00;
    padding-bottom: 10px;
    letter-spacing: 2px;
}