 *{
     margin:0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 body{
     background:20px 20px, url('../img/background.png')  ;
     background-size: 174px 140px;
     /* background-size: auto 100vh; */
    }
.container{
    width:800px;
    height: 500px;
    margin: 0 auto;    
    padding: 10px 0;
    position: relative;
}

#gameCanvas{ 
    background:20px 20px, url('../img/background.png')  ;
    background-size: 174px 140px;
    /* background-size: contain 60px;  */
    /* background-repeat: no-repeat; */
    border: 10px solid  transparent;
    border-image: url('../img/wall.jpg') 40 round;

}
#powerCanvas{ 
    /* background:rgba(154, 167, 155, 0.89); */
    border: 1px solid rgb(0, 17, 255);
    border: 10px solid  transparent;
    border-image: url('../img/wall.jpg') 40 round;
}
.power-container{
    width:800px;
    height: 100px;
    margin: 30px auto 0;
}

#game-over, #you-won{
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: rgb(0, 255, 128);
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: none;
}


.title {
    background-color: rgb(101, 116, 126);
    text-align: center;
    color: #ffee00;
    font-size: 50px;
       border-radius: 20px 20px 0 0 ;
    padding: 20px;
}

.score{
    background-color: rgb(101, 116, 126);
    text-align: center;
    font-size: 56px;
    color: rgb(0, 247, 255);
    margin-top: 20px;
    padding:20px;
}
.retry {
    position: relative;
    margin-top: 30px;
    height: 50px;
    
}
.retry>div{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 100px;
    text-align: center;
    color:#ffee00;
    margin:0 auto;
    background-color: rgb(44, 63, 114);
}

.retry>div:active{
    box-shadow: rgb(44, 63, 114) 0 0 20px;
    width: 70px;
    height: 70px;
    line-height: 90px;
    background-color: #0f103f;
}

.sidebar{
    position: absolute;
    width: calc((100% - 840px)/2);
    top:10px;
    background-color: #0f103f;
    height: 640px;
}
.score-board{
    right:0;
}
.score-box{
    display: flex;
    align-items: center;
    padding: 20px 0 20px 30px;
}
.score-box img{
    display: block;
    align-self: center;
    justify-self: flex-end;
}
/* .score-img{
    position: absolute;
    background: url("../img/score.png") no-repeat;
    background-position: 21px 35px;
    z-index: 12;
    width: fit-content;
    height: 40px;
    
} */
.your-score{
    /* height: 20px; */
    color:aqua;
    font-size: 45px;
    text-align: center;
    border-bottom:2px solid #ffee00 ;
}

.you-scored{
    margin-top: 10px;
    color:aqua;
    font-size: 55px;
    text-align: center;
    background-color: #0f103f;
}
#score-value{
    font-size: 65px;
    color: #ffee00;
    padding-left: 10px;
    text-align: center;

}
.score-container{
    background-color: black;
    margin-top:10px;
    height: 100px;
}

.final-score::before, .final-score::after{
    content: '';
    display: block;
    clear:both;
}
.final-score div{
    float: left;
    width: 33.33%;
    padding-top: 18px;
    
}
.final-score div:first-child{
    text-align: left;
    padding-left: 25px;
}
.final-score div:last-child{
    text-align: right;
    padding-right: 25px;
}
#win-score{
    color:#ffee00;
    font-size: 55px;
    text-align: center;
}

.noclick{
    user-select: none;
}

.buttons{
    display: flex;
    justify-content: center;
}

.buttons button{
    width: 100%;
    height: 40px;
    margin:10px;
    border-radius: 10px;
    font-size: 25px;
    background-color: rgb(47, 107, 19);
    color: #fff;
    

}
.left-panel{
    left:10px;
}