#container{
    height: 700px;
    width:1200px;
    border:2px solid red;
    margin:10px auto;
    position: relative;
}

#myCanvas{
    border:1px solid red;
   
}

.circle{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #49c;
}